<%= semantic_form_for @micropost do |f| %>
<%#= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.inputs do %>
          <%= f.input :content, label: false, input_html: {class: 'autogrow', rows: 3} %>
      <% end %>
    </div>
    <%= f.actions do %>
        <%= f.action :submit, :button_html => {:class => "btn btn-lg
        btn-info"} %>
    <% end %>
<% end %>

